@import url('https://fonts.googleapis.com/css?family=Teko');

body{
    background: url(foto/ironman-cover.jpg);  
     margin: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-block{
    background: #24242C;
    width: 1200px;
    height: 700px;
    margin: 100px auto;
  
}
.header-foto{
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.header-block{
    display: flex;
    justify-content: space-between;
}
.burger-men{
    height: 40px;
    width: 40px;
    padding-left: 20px;
}
.logo-men{
    height: 50px;
    width: 80px; 
}
.iron-man{
    font-size: 120px;
    position: relative;
    left: 80px;
    top: 0px;
    color: white;
    width: 800px;
    font-family: 'Roboto', sans-serif;
}
.iron-red{
    font-size: 120px;
    color: red;
}
.menu-block{
    display: flex;
    width: 100%;
}
.menu-block-sm{
    writing-mode: tb-rl;    
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 8%;
    align-items: center;
    color: white; */
} 

.menu-text{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-bottom: 18px;
}
.menu-iron{
    width: 37%;
    background: white;
}
.main-man{
    position: absolute;
    height: 605px;
    top: 240px;
    left: 667px;
}
.menu-iron-line{
    height: 8px;
    width: 110px;
    background: #E03D24;
    margin: 90px;
}
.menu-iron-text{
    font-size: 90px;
    color: red;
}
.menu-iron-footer{
    margin-top: 140px;
    margin-left: 80px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    color: #24242C
}
.date-line{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.menu-line-footer{
    height: 1px;
    width: 200px;
    background: #23232B;
}
.block-right{
    width: 47%;
    background: #23232B;
}
.block-right-sml{
    writing-mode: tb-rl;
    transform:rotate(180deg);
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 8%;
    align-items: center;
}
.sml-round{
    margin: 5px;
    font-size: 30px;
   color: white;
}
.red-box{
    height: 20px;
    width: 20px;
    background: red;
    margin-top: 100px;
    margin-left: 450px;
}
.button-red{
    width: 200px;
    background: red;
    border-radius: 3px;
    margin-top: 320px;
    margin-left: 280px;
    text-align: center;
    padding: 15px;
    color: white;
}
.text-und-b{
    margin-left: 170px;
    font-family: 'Roboto', sans-serif;
    color: #5B5961;
}
.iron-footer{
    background: #23232B;
    height: 80px;
    width: 100%;
}